# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.iml
*.swp

# Env
.env
.env.local
.env.*.local

# Logs
*.log
logs/

# Build (cobertura geral; cada subprojeto vai ter o seu também)
target/
build/
dist/
node_modules/

# Misc
*.pid
.cache/